/Patent_Intelligence_Project/Patent_Intelligence_virtual_env_final/
/Patent_Intelligence_Project/Patent_Intelligence_virtual_env_final/
/Patent_Intelligence_Project/data/sample_dataset/
/Patent_Intelligence_Project/data/chroma_db/
/Patent_Intelligence_Project/data/embeddings/
/Patent_Intelligence_Project/data/rag_corpus_1000.csv
/Patent_Intelligence_Project/.vscode/
/Patent_Intelligence_Project/Patent_Intelligence_virtual_env_final/
